<div layout="column"
	 layout-gt-md="row"
	 class="ra-bio-heading">
	<div flex
		 layout="column"
		 layout-align-gt-md="center start"
		 layout-align="center center">
		<h1 hide-gt-md class="md-display-1 ra-no-top-margin">{{title}}</h1>
		<h1 hide show-gt-md class="md-display-2">{{title}}</h1>
	</div>
	<div flex
		 flex-gt-md="25"
		 layout="column"
		 layout-align="center center"
		 layout-align-gt-md="center end">
		<md-button class="md-primary md-raised" ng-click="fetchAgent()">Click Me</md-button>
	</div>
</div>

<div layout="column"
	 layout-gt-md="row"
	 class="ra-bio-highlights">
	<div flex>
		<md-content>
			<md-card>
				<div layout="column"
					 layout-gt-md="row"
					 class="ra-bottom-margin-adjust">
					<div flex>
						<md-progress-circular md-mode="indeterminate"
											  ng-hide="ourSecretAgent.picture.large"
											  class="ra-waiting-icon"></md-progress-circular>
						<img hide-gt-md ng-src="{{ourSecretAgent.picture.large}}" />
						<img hide show-gt-md ng-src="{{ourSecretAgent.picture.medium}}" />
					</div>
					<div flex
						 flex-gt-md="70">
						<div flex>
							<p><span>Presumed Name //</span>{{presumedName}}</p>
						</div>
						<div flex>
							<p><span>Handle //</span>{{ourSecretAgent.username}}</p>
						</div>
						<div flex>
							<div layout="column"
						 		 layout-gt-md="row">
								<p flex
								   flex-gt-md="45"><span>DOB //</span>{{dateOfBirth}}</p>
								<p flex
								   flex-gt-md="45"><span>Nationality //</span>{{ourSecretAgent.nationality}}</p>
							</div>
						</div>
					</div>
				</div>
			</md-card>
		</md-content>
	</div>
</div>

<div layout="column"
	 layout-gt-md="row"
	 class="ra-bio-cards">
	<div flex
		 flex-gt-md="50">
		<md-content class="ra-dossier">
			<md-card>
				<md-subheader>
					<h4 class="md-title">Assignment Details</h4>
					<md-divider></md-divider>
				</md-subheader>
				<md-card-content class="ra-no-top-padding">
					<md-list class="ra-list">
						<md-list-item>
							<p flex="20"
							   flex-gt-md="25">Zone:</p>
							<p flex="80"
							   flex-gt-md="75">{{ourSecretAgent.location.state || ourSecretAgent.location.region}}</p>
						</md-list-item>
						<md-list-item>
							<p flex="20"
							   flex-gt-md="25">SH Code:</p>
							<p flex="80"
							   flex-gt-md="75">{{ourSecretAgent.location.city || ourSecretAgent.location.state}}</p>
						</md-list-item>
						<md-list-item>
							<p flex="20"
							   flex-gt-md="25">Email:</p>
							<p flex="80"
							   flex-gt-md="75">{{ourSecretAgent.email}}</p>
						</md-list-item>
						<md-list-item>
							<p flex="20"
							   flex-gt-md="25">Cell:</p>
							<p flex="80"
							   flex-gt-md="75">{{ourSecretAgent.phone}}</p>
						</md-list-item>
						<md-list-item>
							<p flex="20"
							   flex-gt-md="25">R Code:</p>
							<p flex="80"
							   flex-gt-md="75">{{ourSecretAgent.salt}}</p>
						</md-list-item>
					</md-list>
				</md-card-content>
			</md-card>
		</md-content>
	</div>

	<div flex
		 flex-gt-md="50">
		<md-content class="ra-dossier">
			<md-card>
				<md-subheader>
					<h4 class="md-title">Agent Dossier</h4>
					<md-divider></md-divider>
				</md-subheader>
				<md-card-content class="ra-no-top-padding" layout="row">
					<div flex="25"
						 flex-gt-sm="20"
						 flex-gt-md="30">
						<img ng-src="{{ourSecretAgent.picture.thumbnail}}" class="md-card-image" />
					</div>
					<p flex="75"
					   flex-gt-sm="80"
					   flex-gt-md="70">{{randomDossier}}</p>
				</md-card-content>
			</md-card>
		</md-content>
	</div>
</div>